<%= div_for brain do%>
	<table>
		<thead>
			<tr>
				<th>Sabor</th>
      			<th>Iq</th>
      			<th>Fresco</th>
      			<th>Agregado hace...</th>
    	  		<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= brain.flavor %></td>
        		<td><%= brain.iq %></td>

        		<td class="Avatar">
        			<% if brain.fresh %>
        				<%= image_tag 'brains/fresh.png',class: 'brains_fresh'%>
        			<% else %>
        				<%= image_tag 'brains/no_fresh.png',class: 'brains_fresh'%>
        			<% end %>
        		</td>
        		<td>
        			<%= time_ago_in_words(brain.created_at)%>
        		</td>
			</tr>
		</tbody>
	</table>
<% end %>