<%= form_with(model: brain, local: true) do |form| %>
  <% if brain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brain.errors.count, "error") %> prohibited this brain from being saved:</h2>

      <ul>
      <% brain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zombie_id%>  
    <%= f.collection_select :zombie_id,Zombie.order(:name),:id,:name,include_blank:false %>
  </div>
  <div class="field">
    <%= form.label :Sabor %>
    <%= form.text_field :flavor %>
  </div>

  <div>
    <%= form.label :Iq %>
    <%= form.number_field :iq%>
  </div>
  <div>
    <%= form.label :Fresco %>
    <%= form.check_box :fresh %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar cambios" %>
  </div>
<% end %>
