<p id="notice"><%= notice %></p>

<h1>Brains</h1>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Sabor</th>
      <th>IQ</th>
      <th>¿Fresco?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
        <td><%= brain.iq %></td>
        <td class="Avatar">
            <%if brain.fresh%>
              <%= image_tag 'brains/fresh.png', class: 'brains_fresh' %>
            <%else%>
              <%= image_tag 'brains/no_fresh.png', class: 'brains_fresh' %>
            <%end%>

        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

