<p id="notice"><%= notice %></p>

<p>
  <strong>Flavor:</strong>
  	<%= @brain.flavor %>
  <strong>Coeficiente intelectual</strong>
	<%= @brain.iq %>
  <strong>¿Está fresco?</strong>  
	<%= @brain.fresh %>
</p>

<div class="Links button round"><%= link_to 'Edit', edit_brain_path(@brain) %> </div>
<div class="Links button round"><%= link_to 'Back', brains_path %></div>
