<h1>Editing Zombie</h1>

<%= render 'form', zombie: @zombie %>

<div class="Links button"><%= link_to 'Mostrar', @zombie %> </div>
<div class="Links button alert"> <%= link_to 'Atrás', zombies_path %></div>
