<p id="notice"><%= notice %></p>

<h1>Zombies</h1>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td class="Avatar"><%= image_tag zombie.avatar %></td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten %></td>
        <td class="button round Links"><%= link_to 'Mostrar', zombie %></td>
        <td class="button round success Links"><%= link_to 'Editar', edit_zombie_path(zombie) %></td>
        <td class="button round alert Links"><%= link_to 'Eliminar', zombie, method: :delete, data: {confirm: '¿Estás seguro?'} %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


