

  
<div class="row Letra">
<div class="large-4 columns">
<div class:"AvatarShow">
  <%= image_tag @zombie.avatar, :width=>300, :height=>300%>
</div>
</div>
</div>
<div class="row">
  <div class="large-6 columns">
<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>
  </div>
  <div class="large-6 columns">
<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>Rotten:</strong>
  <%= @zombie.rotten %>
</p>
  </div>
</div>
<div id="brains">
  <%=render :partial => @zombie.brains.reverse %>
</div>

<%= form_for([@zombie,Brain.new], remote:true) do |f| %>
<div class="field">
  <%= f.label :flavor%>
  <%= f.text_field :flavor%>  
</div>
<div class="field">
  <%= f.label  :iq%>
  <%= f.text_field :iq%>  
</div>
<div class="field">
  <%= f.label  :fresh  %>
  <%= f.check_box :fresh %>  
</div>
<div class="actions">
  <%= f.submit "Agregar" %>  
</div>
<% end %>

<div class: "Links button round"><%= link_to 'Editar', edit_zombie_path(@zombie) %></div> 
<div class: "Links button round"><%= link_to 'Atras', zombies_path %></div>



