// Place all the styles related to the Zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Avatar{
	width: 32px;
	height: 32px;
}
.AvatarShow img{
	width: 128px;
	height: 128px;
}
.Links{
	text-decoration: none;
	color: #fff;
}
.Links:hover{
	text-decoration: none;
	color: #fff;
}