<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Zombie City" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <a href="#" class="button" data-dropdown="drop">Link Dropdown &raquo;</a>
<ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>
        

        <a href="#" class="button" data-dropdown="drop">Zombies</a>
        <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
          <li><%= link_to 'Agregar', new_zombie_path %></li>
          <li><%= link_to 'Mostrar', zombies_path %></li>
        </ul>
          
          
     


    <%= yield %>
  </body>
</html>
